.header {
  width: 1184px;
  min-height: 52px;
  padding-top: 28px;
  padding-bottom: 56px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {

  .header {
    width: 928px;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 768px) {

  .header {
    width: 720px;
    padding-bottom: 68px;
  }
}

@media screen and (max-width: 320px) {

  .header {
    width: 288px;
    min-height: 42px;
    padding-top: 16px;
    padding-bottom: 48px;
  }
}  