@font-face {
    font-family: 'Inter';
    src: url("./Inter-Black.ttf") format("woff2");
    src: url("./Inter-Regular.woff") format("woff");
    src: url("./Inter-Regular.ttf") format("ttf");
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    src: url("./Inter-Bold.woff2") format("woff2");
    src: url("./Inter-Bold.woff") format("woff");
    src: url("./Inter-Bold.ttf") format("ttf");
    font-weight: bold;
}
    
@font-face {
    font-family: 'Inter';
    src: url("./Inter-Black.woff2") format("woff2");
    src: url("./Inter-Black.woff") format("woff");
    src: url("./Inter-Black.ttf") format("ttf");
}