.cover {
    width: 1184px;
    padding-top: 92px;
    margin: 0 auto;
}

@media screen and (max-width: 1024px) {

    .cover {
      width: 1024px;
    }
}

@media screen and (max-width: 768px) {

    .cover {
      width: 768px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        width: 320px;
        padding-top: 66px;
    }
}