.cover__overlay {
    background: #2a2c2f;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (max-width: 1024px) {
 
    .cover__overlay {
      max-height: 640px;
    }
  }

  @media screen and (max-width: 768px) {

    .cover__overlay {
         max-height: 480px;
    }
}

  @media screen and (max-width: 320px) {

    .cover__overlay {
        max-height: 200px;
      }
  }